{erl_opts, [debug_info]}.

{deps, [
  {cowboy, {git, "https://github.com/ninenines/cowboy", {tag, "2.6.3"}}},
  {hackney, ".*", {git, "git://github.com/benoitc/hackney.git", {branch, "master"}}}
]}.

{shell, [
  {config, "config/sys.config"},
  {apps, [idea_execute]}
]}.

{relx, [
  {sys_config, "config/sys.config"},
  {
    release,
    {idea_execute, "0.1.0"},
    [{mnesia, load}, idea_execute]
  },
  {dev_mode, true},
  {extended_start_script, true}
]}.
